default_stages:
  - pre-commit
  - pre-merge-commit

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.3.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: trailing-whitespace
      - id: end-of-file-fixer
        stages:
          - pre-commit
      - id: mixed-line-ending
        name: fix line ending
        stages:
          - pre-commit
        args:
          - --fix=lf
      - id: mixed-line-ending
        name: check line ending
        stages:
          - pre-merge-commit
        args:
          - --fix=no
      - id: no-commit-to-branch
        stages:
          - pre-commit
        args:
          - --branch=master
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
      - id: add-trailing-comma
        stages:
          - pre-commit
  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        stages:
          - pre-commit
        args:
          - --diff
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: fix import order
        stages:
          - pre-commit
        args:
          - --line-length=120
          - --multi-line=9
          - --project=simio
      - id: isort
        name: check import order
        stages:
          - pre-merge-commit
        args:
          - --check-only
          - --line-length=120
          - --multi-line=9
          - --project=simio
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        stages:
          - pre-commit
        name: mypy
        pass_filenames: false
        args: ["--package", "simio"]
